//output: app.component.html

  mat-sidenav-container.side-nav__container((backdropclick)="sidenav.close()")
    mat-sidenav(#sidenav='', (keydown.escape)="sidenav.close()")
      .side-nav__controls
        button(mat-icon-button='', (click)="sidenav.close()")
          mat-icon arrow_back_ios
        //- a.headder-link(*ngIf="_isLoggedIn===true", mat-button='', routerLink='/create', routerLinkActive="mat-accent",(click)="sidenav.close()") New Post
        //- a.headder-link(mat-button='', routerLink='/list', routerLinkActive="mat-accent", (click)="sidenav.close()") Posts
        //- a.headder-link(*ngIf="_isLoggedIn===false",mat-button='', routerLink='/login', routerLinkActive="mat-accent",(click)="sidenav.close()") Log In
        a.headder-link(*ngIf="isLoggedIn===true", mat-button='', (click)='logOut(); sidenav.close()') Log Out      
        .side-nav__img
          img(src='/assets/umaru_dance.gif', alt='umaru_dance')
    mat-sidenav-content
      mat-toolbar(color="primary")
        .headder-home
          a.hamburger((click)='sidenav.open()') 
            div
            div
            div
          a.main-headder__brand(mat-button='', routerLink='/', routerLinkActive="mat-accent") P0$T 
        .headder-links
          //- a.headder-link(*ngIf="_isLoggedIn===true", mat-button='', routerLink='/create', routerLinkActive="mat-accent") New Post
          //- a.headder-link(mat-button='', routerLink='/list', routerLinkActive="mat-accent") Posts
          //- a.headder-link(*ngIf="_isLoggedIn===false",mat-button='', routerLink='/login', routerLinkActive="mat-accent") Log In
          a.headder-link(*ngIf="isLoggedIn===true", mat-button='', (click)='logOut()') Log Out
      router-outlet
